<!-- add-facture.component.html -->
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card">
        <div class="card-body">
    
    <h2 class="mb-4">Add transfert de ligne</h2>
    <form  class="needs-validation" novalidate>
       
        <div class="row mb-4">
            <div class="col-md-2">
                <label for="numero" class="form-label">Numero ligne:</label>
            </div>
            <div class="col-md-10">
                <input id="numero" class="form-control" formControlName="numero" required>
            </div>
        </div>
        
            <hr>
            <div class="row mb-4">
                <div class="col-md-2">
                    <label for="dateEmission" class="form-label">Date transfert:</label>
                </div>
                <div class="col-md-10">
                    <input id="dateEmission" type="date" class="form-control" formControlName="dateEmission" required>
                    <small class="text-muted">Note: You are 1 hour ahead of server time.</small>
                    <div class="invalid-feedback">
                        Please provide a valid date.
                    </div>
                </div>
            </div>
            
            
       
        <hr>
       
        <div class="row mb-4">
            <div class="col-md-2">
                <label for="client" class="form-label">Ancien client:</label>
            </div>
            <div class="col-md-10">
                <input id="client" class="form-control" formControlName="client" required>
               
            </div>
        </div>
        
            
            
       
        <hr>
       
        <div class="row mb-4">
            <div class="col-md-2">
                <label for="nouvelle-offre" class="form-label">nouvelle clients:</label>
            </div>
            <div class="col-md-10">
                <input id="nouvelle-offre" class="form-control" formControlName="nouvelle-offre" required>
               
            </div>
        </div>
        
   
    <hr>
   
    <div class="row mb-4">
        <div class="col-md-2">
            <label for="Statut" class="form-label">Statut:</label>
        </div>
        <div class="col-md-10">
            <select class="form-select" data-mdb-select-init>
                <option selected>En attente</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
        </div>
        
    </div><hr>
        <div class="d-flex justify-content-center">
            <div class="card">
                <div class="card-body">
                    <button type="submit" style="background-color: #205067;border-color: #205067;" class="btn btn-primary me-2">Save</button>
                    <button type="button" style="background-color: #417690; border-color: #417690;" class="btn btn-success me-2">Save and add another</button>
                    <button type="button" style="background-color: #417690; border-color: #417690;" class="btn btn-success me-2">Save and continue editing</button>
                </div>
            </div>
        </div>
        
    </form>
</div>
</div>
</div>
